<div class="contacts" id="contacts">
  <div class="contacts-content">
    <div class="content">
      <p>atendimento&#64;rommelefranco.com</p>
      <div class="instagram-container">
        <button class="button"
          onclick="window.open('https://www.instagram.com/rommelefrancoadvogados/', '_blank')"
        >
          <i class="bi bi-instagram"></i>
          <span>&#64;rommelefrancoadvogados</span>
        </button>
      </div>
      <p>Telefone: (85) 9 9211-9191</p>
    </div>
  </div>
</div>
