@import "../../../styles.scss";

.footer {
  background-color: $secondary-color;
  width: 100%;
  padding: 5px; 
  box-sizing: border-box;  
}

.footer-content {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  flex-wrap: wrap;  
}

.content {
  flex: 1 1 auto;  
  text-align: center;  
}

p {
  margin: 0.2rem 0;
  font-size: 11px;  
}

.footer-logo {
  flex: 0 0 auto;  
  display: flex;  
  justify-content: start;  
  margin-left: 5px;
}

.logo {
  width: 20px;  
  height: 30px;
}

.footer-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;  // Ajusta o tamanho da fonte conforme necessário
  color: $primary-color;
  margin: 5px 0;  // Ajusta a margem para ficar mais próximo
}


@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    display: none; 
  }

  .footer-logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-instagram{
    margin-top: 0;
    margin-bottom: 5px;
  }
}
