<div class="title" id="our-services">
  <h1 class="centered-heading">Conheça os nossos serviços</h1>
</div>
<div class="container-fluid">
  <!-- Serviço 1: Imagem - Texto (Alinhado à esquerda) -->
  <div class="row mb-4 align-items-center">
    <div class="col-md-6">
      <img
        src="https://www.rommelefranco.com/recuperacaodecredito.jpg"
        class="img-fluid"
        alt="Recuperação de Crédito"
      />
    </div>
    <div class="col-md-6">
      <h2>Recuperação de Crédito</h2>
        <ul>
          <li>Planos de assessoria jurídica fixa em recuperação de crédito;</li>
          <li>Cobranças administrativas, através de negociações e notificações extrajudiciais;</li>
          <li>Solicitação e acompanhamento de Protestos de devedores;</li>
          <li>Execuções de Títulos Executivos Extrajudiciais e Judiciais;</li>
          <li>Ações Judiciais de Cobrança;</li>
          <li>Ações Judiciais Monitórias.</li>
        </ul>
      
      <a
        href="https://api.whatsapp.com/message/TO6RGGE6GFQML1?autoload=1&app_absent=0"
        target="_blank"
        class="btn"
      >
        <button type="button" class="btn">
          <i class="bi bi-whatsapp"></i> Fale com um advogado
        </button>
      </a>
    </div>
  </div>

  <!-- Serviço 2: Texto - Imagem (Alinhado à direita) -->
  <div class="row mb-4 align-items-center flex-row-reverse">
    <div class="col-md-6">
      <img
        src="https://www.rommelefranco.com/direitocontratual.jpg"
        class="img-fluid"
        alt="Direito Contratual"
      />
    </div>
    <div class="col-md-6">
      <h2>Direito Contratual</h2>
      <li>Elaboração, análise e adequação de contratos (contratos sociais, acordo de sócios, contratos de compra e venda, contratos de prestação de serviços e outros).</li>
      <li>Elaboração e análise de distratos contratuais;</li>
      <li>Negociações Extrajudiciais;</li>
      <li>Notificações Extrajudiciais sobre situações decorrentes de vínculos contratuais.</li>
      <br>
      <a
        href="https://api.whatsapp.com/message/TO6RGGE6GFQML1?autoload=1&app_absent=0"
        target="_blank"
        class="btn"
      >
        <button type="button" class="btn">
          <i class="bi bi-whatsapp"></i> Fale com um advogado
        </button>
      </a>
    </div>
  </div>

  <!-- Serviço 3: Imagem - Texto (Alinhado à esquerda) -->
  <div class="row mb-4 align-items-center">
    <div class="col-md-6">
      <img
        src="https://www.rommelefranco.com/direitoindenizatorio.jpg"
        class="img-fluid"
        alt="Direito do Consumidor"
      />
    </div>
    <div class="col-md-6">
      <h2>Direito do Consumidor</h2>
        <li>
          Para consumidores: ações judiciais ou elaboração/acompanhamento de reclamações administrativas (Decon, Procon e Consumidor.gov) sobre:
      </li>
      <ol>
        <li>Falhas na prestação de serviços;</li>
        <li>Vícios ou problemas com produtos;</li>
        <li>Direito do Passageiro (cancelamento e/ou atraso de voos, extravio de bagagem, reembolso de passagem);</li>
        <li>Cancelamento ou remarcação de eventos;</li>
        <li>Negativação indevida;</li>
        <li>Negativas de exames ou procedimentos médicos/cirúrgicos, tanto por planos de saúde quanto pelo SUS;</li>
        <li>Ações indenizatórias por golpes/fraudes.</li>
      </ol>
      <li>
        Para empresas: planejamento jurídico estratégico e defesas em ações de Direito do Consumidor e assessoria jurídica fixa.
      </li>
        <br>
      <a
        href="https://api.whatsapp.com/message/TO6RGGE6GFQML1?autoload=1&app_absent=0"
        target="_blank"
        class="btn"
      >
        <button type="button" class="btn">
          <i class="bi bi-whatsapp"></i> Fale com um advogado
        </button>
      </a>
    </div>
  </div>
</div>
