<div class="container-fluid">
  <nav class="navbar">
    <div class="icon-container">
      <!-- <i class="bi bi-telephone-fill"> (85) 9 9211-9191</i>
        <i class="bi bi-envelope"> contato&#64;rommelefranco.com</i>
        <i class="bi bi-building-fill"> R. Silva Paulet, 2723 - Sala 06 - Aldeota, Fortaleza - CE</i> -->
      <a href="#our-services">Serviços</a>
      <a href="#about-us">Sobre</a>
      <img src="favicon.ico" alt="" class="logo" />
      <a href="#location">Localização</a>
      <a
        href="https://api.whatsapp.com/message/TO6RGGE6GFQML1?autoload=1&app_absent=0"
        target="_blank"
        >Contato</a
      >
    </div>
  </nav>
</div>
