
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand-small" href="#">
      <img src="favicon.ico" alt="Logo" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#our-services">Serviços</a>
        <a class="nav-item nav-link" href="#about-us">Sobre</a>
        <a class="navbar-brand" href="#">
          <img src="favicon.ico" alt="Logo" class="logo" />
        </a>
        <a class="nav-item nav-link" href="#location">Localização</a>
        <a class="nav-item nav-link" href="#contacts">Contato</a>
      </div>
    </div>
  </nav>
</div>