<div class="container-fluid">
  <div class="content-container">
  <div class="card">
    <img src="logoamarelacopia.png" class="card-img-top" alt="...">
    <h5 class="card-title">Direito Contratual | Recuperação de Crédito | Direito do Consumidor</h5>
    <div class="card-body">
      <h6 class="card-text">Assessoria Jurídica preventiva e contenciosa atuante em todo o Brasil.</h6>
      <a href="https://api.whatsapp.com/message/TO6RGGE6GFQML1?autoload=1&app_absent=0" target="_blank" class="btn">
        <button type="button" class="btn">
          <i class="bi bi-whatsapp"></i> Fale com um advogado
        </button>
      </a>
          </div>
  </div>
</div>
