<div class="video-container">
  <div class="iframe-wrapper">
    <iframe
      src="https://player.vimeo.com/video/932950327?muted=1&amp;autoplay=1&amp;loop=1&amp;background=1&amp;app_id=122963"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      allowfullscreen
    ></iframe>
  </div>
  <div class="content">
    <h1>Agende já sua reunião!</h1>
    <p>Entre em contato para mais informações.</p>
    <a
      href="https://wa.me/message/TO6RGGE6GFQML1"
      class="btn"
    >
      <button type="button" class="btn">
        <i class="bi bi-whatsapp"></i> Fale com um advogado
      </button>
    </a>
  </div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
