@import "../../../styles.scss";

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 80%;
}

.title {
  //background-color: $primary-color;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
}

.centered-heading {
  color:$primary-color;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  max-width: 300px;
  max-height: 500px;

}

.img-fluid {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
}

h1,
p,
h2 {
  text-align: start;
  color: $primary-color;
}
h1{
    font-size: 60px;
}
h6{
  color: $primary-color;
  margin-bottom: 40px;
  font-size: 22px;
}

.row {
  display: flex;
  align-items: flex-start;
}

.col-md-12 {
    margin-bottom: 40px; 
}

.col-md-12:last-child {
    margin-bottom: 0; 
}
