<div class="title" id="about-us">
  <h1 class="centered-heading">Sobre o Rommel & Franco Advogados</h1>
</div>
<div class="container-fluid" id="about-us">
  <div class="logo-container">
  <img src="logovermelhamenor.png" alt="logo" class="logo" />
</div>
  <p>
    O Escritório Rommel & Franco Advogados nasceu da visão conjunta de seus
    Sócios-Fundadores, os advogados Vladmyr Rommel e Bianca Franco, sobre a
    necessidade de adequação da advocacia aos novos parâmetros de
    resolutividade, evitando os padrões ultrapassados e burocráticos da
    advocacia tradicional. O compromisso do Rommel & Franco Advogados é a
    entrega de serviços jurídicos de excelência, por meio de uma equipe em
    constante evolução profissional, composta por pessoas comprometidas a
    sanarem, da melhor forma, as necessidades de cada cliente.
  </p>
  <!-- Serviço 2: Texto - Imagem (Alinhado à direita) -->
  <div class="row mb-4 align-items-center flex-row-reverse">
    <div class="col-md-4">
      <img src="socios.jpeg" class="img-fluid" alt="Socios" />
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h2>Vladmyr Rommel</h2>
          <p>
            Advogado (OAB/CE 40.232), especialista em Direito Processual Civil
            pela Universidade de Fortaleza (UNIFOR), com ampla experiência em
            assessoria jurídica empresarial, com foco em direito contratual,
            regularização documental e recuperação de crédito. Além disso é
            Consultor-fundador empresarial de Expansão e Franchising na Scala
            Consulting. Coautor literário.
          </p>
        </div>
        <div class="col-md-12">
          <h2>Bianca Franco</h2>
          <p>
            Advogada (OAB/CE 44.866), mestra em Direito Constitucional e
            especialista em Processo Civil, ambas pela Universidade de Fortaleza
            (UNIFOR), com ampla atuação em direito contratual e direito do
            consumidor. Já foi professora universitária e é autora de diversos
            artigos científicos publicados em revistas jurídicas de grande
            circulação, além de coautora literária.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
