
@import "../../../styles.scss";
.container-fluid {
    background-color: $primary-color;
    color: white;
    min-height: 400px;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
  }
  
  .card {
    white-space: none;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-color: transparent !important;
    background-color: transparent;
    color: white;
    margin-left: 20px;
    margin-right: 40px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    
  }
  
  .card-title{
    margin-bottom: 0;
    font-size: 1.2rem;
    
  }

  .card-subtitle {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }

  .card-text {
    margin-top: auto;
    font-size: 1rem;
    padding: 0.5em;
  }
  
  .card-divider {
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
  
  
  .carousel-inner {
    padding: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 60%;
    transform: translateY(-50%);
  }
  
  .star {
    color: #ffc107;
  }
  
  .star.checked {
    color: #ffc107;
  }
  

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: $secondary-color;
    color: $primary-color;
    gap: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: darken($secondary-color, 10%);
    color: darken($primary-color, 10%);
  }
  
  .btn:active {
    background-color: darken($secondary-color, 15%);
    color: darken($primary-color, 15%);
  }



  @media (max-width: 768px) {
    .carousel-inner {
      display: flex;
      overflow: hidden;
      width: 100%;
    }
  
    .carousel-item {
      flex: 0 0 100%; 
      max-width: 100%;
    }
  
    .card {
      margin: auto; 
      width: auto; 
    }
  }
  
  